<title>Security Portal</title>
	@Styles.Render("~/site/assets/dist/jointjs/joint.css")
	@Styles.Render("~/site/assets/dist/bootstrap/bootstrap.css")
	@Scrupts.Render("~/site/assets/dist/jquery/jquery.js")
	@Scrupts.Render("~/site/assets/dist/lodash/lodash.js")
	@Scrupts.Render("~/site/assets/dist/backbone/backbone.js")
	@Scrupts.Render("~/site/assets/dist/jointjs/joint.js")
	@Scrupts.Render("~/site/assets/dist/chartjs/Chart.bundle.js")
	@Scrupts.Render("~/site/assets/dist/moment/moment.js")
	@Scrupts.Render("~/site/assets/js/site.js")

	@Styles.Render("~/site/assets/css/suncorp_base.css")
	@Styles.Render("~/site/assets/dist/fontawesome/css/fontawesome-all.min.css")
	@Styles.Render("~/site/assets/css/site.css")
	<link rel="shortcut icon" type="image/x-icon" href="/site/assets/img/favicon.ico">