<title>Suncorp Data Flow Diagram Editor</title>
	@Styles.Render("~./assets/dist/jointjs/joint.css")
	@Styles.Render("~./assets/dist/bootstrap/bootstrap.css")
	@Scrupts.Render("~/assets/dist/jquery/jquery.js")
	@Scrupts.Render("~/assets/dist/lodash/lodash.js")
	@Scrupts.Render("~/assets/dist/backbone/backbone.js")
	@Scrupts.Render("~/assets/dist/jointjs/joint.js")
	@Scrupts.Render("~/assets/dist/chartjs/Chart.bundle.js")
	@Scrupts.Render("~/assets/js/site.js")

	@Styles.Render("~/assets/css/suncorp_base.css")
	@Styles.Render("~/assets/dist/fontawesome/css/fontawesome-all.min.css")
	@Styles.Render("~/assets/css/site.css")
	<link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">